{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <div class="mydiv">
        <h1>Contact us</h1>

        <div class="nav">
            <div class="nav-home">Home</div>
            <div class="nav-about">About</div>
            <div class="nav-contact">Contact Us</div>

        </div>

    </div>

    <div class="para">


        <p class="welcome">This is the contact page of Chai aur Django. You can contact us on the below email addess and phone no.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, amet nihil exercitationem, assumenda
            accusantium vel reprehenderit voluptatum, voluptatibus enim totam dolore soluta quo dicta debitis cupiditate
            facere reiciendis vero ea.</p>
    </div>
    </div>
</body>
</html>