body{
    background-color: rgb(17, 50, 78);
    color:aliceblue;
}

h1{
    text-align: center;
    font-size: 2em;
}

.mydiv{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.para{
    text-align: center;
    margin: 100px;
    font-size: 25px;
}

.welcome{
    font-size: 50px;
}